* {
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    font-size: 22px;
}

/* Header */

header {
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    height: 69px;
    z-index: 99;
    border-bottom: 1px solid seashell;
    opacity: 1;
}

#header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin: 5px 10px;
    cursor: pointer;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav a {
    padding: 10px;
    text-decoration: underline;
}

#nav a:hover {
    padding: 10px;
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

/* Main Section */

.mission {
    display: flex;
    justify-content: center;
}

.mission-img {
    padding: 16px;
    margin-top: 70px;
    height: 700px;
    width: 95%;
    background-image: url(../images/\img-mission-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#mission {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url(/images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 1200px 700px;
    height: 700px;
    width: 100%;
    }
    
.mission-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    gap: 10px;
    width: 100%;
    background-color: black;
    margin: auto;
    z-index: 1;
    opacity: 1;
}