* {
    font-family: Helvetica, sans-serif;
    color: seashell;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    opacity: 0.9;
    background-color: black;
} 

body {
    font-size: 22px;
}

/* Header */

header {
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    height: 69px;
    z-index: 99;
    border-bottom: 1px solid seashell;
    opacity: 1;
}

#header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin: 5px 10px;
    cursor: pointer;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav a {
    padding: 10px;
    text-decoration: underline;
}

#nav a:hover {
    padding: 10px;
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

/* Main Section */

#mission {
    max-width: 1200px;
    min-height: 700px;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url(/images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    }
    
.mission-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    gap: 10px;
    width: 100%;
    background-color: black;
    margin: auto;
    z-index: 1;
    opacity: 1;
}

/* Tea of th month Section */

#tea-month {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    padding: 20px;
}

.tea-month-header h2, p{
    padding-bottom:10px;
}

.tea-month-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tea-month-imgs img {
    width: 300px;
    height: 200px;
    padding-bottom: 10px;
}

/* Location Section */

.location-section {
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
}

.location-heading {
    display: flex;
    background: transparent;
}

.locations-box {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    background: none;
}

.location-info {
    max-width: 300px;
    min-height: 300px;
    margin: 15px 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Contact Section */

.contact {
    min-0height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Footer */

.footer {
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}